a {
    text-decoration: none;
    color: #fff;
}

.section__contacts {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo--center {
    text-align: center;
}

.contacts {

    &__content--title {
        color: #fff;

        p {
            text-transform: uppercase;
            font-size: 25px;
            text-align: center;
            margin-top: 15px;
        }
    }

    &__info {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        &_item {
            flex: 0 1 50%;
            text-align: center;
        }
    }

    &__number {
        color: #fff;
        text-align: center;
        margin-top: 20px;

        p {
            position: relative;
            margin-bottom: 10px;
        }
    }
}